<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main-container">
        <h1>{{user.user.username}} page</h1>
        {% if currentUser != user.user %}
            <button><a href="{% url 'add_friend' user.id %}">Add friend {{user.id}}</a></button>
        {% endif %}
        <div class="posts">
            {% for item in posts %}
                <div class="post">
                    <h1>{{item.title}}</h1>
                    <h2>{{item.content}}</h2>
                    <h3>{{item.publication_date}}</h3>
                    <a href="{% url 'delete_post' item.id %}">Delete</a>
                </div>
            {% endfor %}
            <a href="{% url 'add_post' user.id %}">Add post</a>
        </div>
        <div class="friends">
            <!-- Здесь будут все наши друзья -->
        </div>
    </div>
</body>
</html>